<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-md p-8 max-w-md">
    <h2 class="text-2xl font-bold mb-6">Registration Form</h2>
    <form>
      <div class="mb-6">
        <label for="name" class="block text-sm font-medium text-gray-700">Full Name</label>
        <input type="text" id="name" name="name" class="form-input mt-1 block w-full rounded-md"
          placeholder="Enter your full name" [(ngModel)]="user.name" [ngModelOptions]="{ standalone: true }" />
      </div>
      <div class="mb-6">
        <label for="email" class="block text-sm font-medium text-gray-700">Email Address</label>
        <input type="email" id="email" name="email" class="form-input mt-1 block w-full rounded-md"
          placeholder="Enter your email address" [(ngModel)]="user.email" [ngModelOptions]="{ standalone: true }" />
      </div>
      <div class="mb-6">
        <label for="mobileNo" class="block text-sm font-medium text-gray-700">Mobile Number</label>
        <input type="tel" id="mobileNo" name="mobileNo" class="form-input mt-1 block w-full rounded-md"
          placeholder="Enter your Mobile number" [(ngModel)]="user.mobileNo" [ngModelOptions]="{ standalone: true }" />
      </div>
      <div class="mb-6">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" id="password" name="password" class="form-input mt-1 block w-full rounded-md"
          placeholder="Enter your password" [(ngModel)]="user.password" [ngModelOptions]="{ standalone: true }" />
      </div>
      <div class="mb-6">
        <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword"
          class="form-input mt-1 block w-full rounded-md" placeholder="Confirm your password"
          [(ngModel)]="user.confirmPassword" [ngModelOptions]="{ standalone: true }" />
      </div>
      <button *ngIf="!isVerifying" type="submit"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full" (click)="registerUser()">
        Register
      </button>
      <button *ngIf="isVerifying" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full">
        Loading...
      </button>
      <div>
        <a class="inline-block  font-bold text-sm text-gray-600 hover:text-blue-800" href="/login">
          Already have a account?
        </a>
      </div>
    </form>
  </div>
</div>