<li class="bookBox book bg-white shadow-md rounded-lg p-4">
  <img [src]="book.src" [alt]="book.name" width="100" class="mb-2">
  <p class="title text-lg font-bold mb-1 text-blue-500">{{ book.name | titlecase }} by {{ book.author }}</p>
  <p class="currency text-gray-600">{{ book.price | currency:'INR' }}</p>
  <button  (click)="addToCart()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">
    Add to Cart
  </button>
  <!-- <button *ngIf="isInCart" (click)="removeFromCart()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2">
    Remove from Cart
  </button> -->
</li>
