<!-- <nav  class="bg-blue-500">
    <div>
        <button>Book Shop</button>
    </div>
    <div>
        <button>My Cart</button>
    </div>
</nav> -->
<nav class="bg-gray-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex-shrink-0">
          <a routerLink="/book" class="text-white text-lg font-bold">Bookshop</a>
        </div>
        <div class="flex">
            <a routerLink="/login" class="text-white hover:text-gray-300 px-4 py-2">Login</a>
            <a routerLink="/register" class="text-white hover:text-gray-300 px-4 py-2">Register</a>
           <a routerLink="/cart" class="bg-blue-500 text-white rounded-full px-4 py-2" >Cart</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="p-4">
    <router-outlet></router-outlet>
  </div>
