<div class="max-w-md mx-auto">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4" *ngIf="isDisabled">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email:
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" type="email" placeholder="Email Address" [(ngModel)]="user.email" name="email"
               >
        </div>
        <div class="mb-4" *ngIf="isDisabled">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
                Mobile Number:
            </label>
            <div class="flex">
                <input
                    class="shadow appearance-none border rounded-l w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="mobile" type="text" placeholder="Mobile Number" [(ngModel)]="user.mobileNo" name="mobile"
                    >
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r" type="button"
                    (click)="validateMobile()" *ngIf="isDisabled">
                    OK
                </button>
            </div>
            <div class="mb-4" *ngIf="showOTP">
                <label class="block text-gray-500 text-sm font-bold mb-1" for="otp">
                    OTP:
                </label>
                <input
                    class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="otp" type="text" placeholder="Enter OTP" [(ngModel)]="otp" name="otp">
            </div>
        </div>
        <div class="flex items-center justify-between" *ngIf="showOTP">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button" (click)="validateOTP()">
                validate OTP
            </button>
        </div>
        <div *ngIf="setNewPassword">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="Enter your password" [(ngModel)]="password"
                    name="password">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
                    Confirm Password
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="confirmPassword" type="password" placeholder="Confirm your password"
                    [(ngModel)]="confirmPassword" name="confirmPassword">
            </div>
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit" (click)="resetPassword()">Reset Password</button>
        </div>

    </form>
</div>